#pass{--chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
font-size: 12px;
box-sizing: border-box;
position: relative;
display: flex;
-webkit-box-align: center;
align-items: center;
padding: 20px 0;
height: auto;}
#travelInfo{
    --chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
font-size: 12px;
box-sizing: border-box;
position: relative;
border-bottom: 1px solid #c6d3de;
text-transform: uppercase;
text-align: center;
}
hr.solid {
    border-top: 3px solid #bbb;
  }
#checked{
    --chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
box-sizing: border-box;
position: relative;
margin: 25px 0 0;
padding: 10px 10px 10px 0;
width: 100%;
min-height: 60px;
border: 1px solid;
display: flex;
-webkit-box-align: center;
align-items: center;
overflow: hidden;
color: #322c31;
font-size: 14px;
border-color: #ff6151;
}
#chargeC{
    --chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
font-size: 12px;
box-sizing: border-box;
margin: 20px auto 0;
padding-left: 15px;
padding-right: 15px;
width: 100%;
max-width: 930px;
padding-top: 22px;
border-top: 3px solid #ff6151;
}
#passenger{
    --chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
font-size: 12px;
box-sizing: border-box;
}
#checkboxSt{
    --chat-button-color: #412E64;
--topic-width: 350px;
--topic-height: 470px;
--topic-header: #412E64;
--topic-bg: #f4f2f3;
--content-bg: #ffffff;
--footer-min-height: 61px;
--input-border: none;
--input-placeholder-color: #9b9b9b;
--input-bg: linear-gradient(to top, #f7f7f7 0%, #d9d9d9 56%, #b4afb4 100%);
--message-padding: 6px 12px 6px 5px;
--message-field-padding-left: 10px;
--own-message-padding: 14px 10px 15px 15px;
--own-msg-bg: #b3c4c1;
--own-msg-color: #ffffff;
--min-header-height: 55px;
--incoming-msg-bg: #f2f2f2;
--msg-color: #434343;
--focused-topic-border: none;
--msg-font-size: 13px;
--link: #159be1;
--close-button-size: 24px;
--unreaded-accent: #97d2ca;
--topic-header-margin: 0px;
--input-diff: 49px;
--mat-card-margin-type-text: 0px;
font-family: Montserrat,sans-serif;
font-size: 12px;
box-sizing: border-box;
margin: 20px auto 0;
padding-left: 15px;
padding-right: 15px;
width: 100%;
max-width: 930px;
}
p.ex2 {display: inline;}